body {
  font-family: Arial, Helvetica, sans-serif;
}

/* BASE CSS */
/* NAVBAR CSS */
.nav-item {
  margin-left: 6em;
  /* px<1400 4 em ele */
}
.nav-link {
  font-size: large;
}
.button-orange {
  background-color: #feb449;
  border-radius: 30px;
  justify-content: center;
  padding: 0.3em 2em 0.3em 2em;
  color: white;
  margin-top: 5px;
}
.button-orange:hover {
  background-color: whitesmoke;
  color: #feb449;
  border: 1px solid #feb449;
}
/* Footer CSS */
.hr-uzun {
  width: 75%;
  margin: auto;
  padding: 1px;
}
#limitless {
  font-family: Arial, sans-serif;
  color: #4e4f4f;
  font-size: 20px;
  font-weight: 600;
}
.footer-container {
  margin: 2% 13% 0 13%;
}
.footer-list {
  list-style-type: none;
  color: #4e4f4f;
}
.ficon {
  margin: 0 20px 0 0;
}
#social-container {
  display: flex;
  margin-top: 30px;
}
.fsicon {
  margin: 0 20px 20px 0;
  font-size: 22px;
}
.flink {
  text-decoration: none;
  color: inherit;
}
.flink:hover {
  color: inherit;
  border-bottom: #53afbe 1px solid;
}
/* LANDING PAGE CSS */
/* Section 2 CSS */
.section2 {
  display: flex;
  padding: 30px 0 100px;
}
#section2-p {
  color: #767777;
  font-size: 30px;
  max-width: 500px;
}
.hr-qisa {
  width: 60%;
  margin: auto;
  padding: 1px;
}
/* FORM CUSTOM CSS */
.section-form {
  display: flex;
  padding: 50px 0 100px;
}
.landing-h3 {
  color: #4e4f4f;
  font-size: 50px;
}
input[type="text"],
input[type="email"],
select,
textarea {
  border: 1px solid #53afbe;
  border-radius: 30px;
  box-sizing: border-box;
  margin: 10px 5px 5px 0;
  padding: 5px 9px 5px 20px;
  outline: none;
}
textarea {
  width: 96%;
  height: 150px;
  border-radius: 18px;
}
input[type="submit"] {
  background-color: #53afbe;
  border-radius: 30px;
  justify-content: center;
  padding: 0.3em 2em 0.3em 2em;
  color: white;
  margin-top: 5px;
}

input[type="submit"]:hover {
  background-color: whitesmoke;
  color: #53afbe;
  border: 1px solid #53afbe;
}
#muraciet {
  padding-right: 5rem;
  color: #8e8e8e;
}

.form-container {
  margin: 7% 0 0 13%;
}
#contact {
  margin-top: 72px;
}

.kompluqaqas {
  margin: 70px 0 0;
}
/* ABOUT CSS*/
.about1 {
  margin: 5% 0 0;
  max-height: 18rem;
}
.section-about {
  padding: 60px 0;
  margin-bottom: 150px;
}
.about-container {
  margin: 2% 13% 0 13%;
  display: flex;
}
/* Page Start CSS*/
.page-start {
  text-align: center;
  color: #4e4f4f;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.page-start-p {
  color: #767777;
  text-align: center;
  font-size: 1.1rem;
}
/* Blog nav */
.bloglink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  margin-right: 1em;
}
.line-left {
  border-right: 1px #fff solid;
  height: 20px;
  margin-right: 1em;
}
#blog-search input[type="text"] {
  padding: 0.5em 4em 0.5em 1em;
  width: 86%;
  font-size: 15px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  background: #53afbe;
  line-height: 10px;
}
#blog-search input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.8;
}
#blog-search button {
  width: 0%;
  padding: 10px;
  color: white;
  font-size: 13px;
  background-color: #53afbe00;
  border: none;
  cursor: pointer;
  position: relative;
  right: 18%;
}
#blog-search button::before {
  content: "";
  height: 40%;
  width: 1px;
  position: absolute;
  right: 100%;
  top: 30%;
  background-color: #e1dfdf;
}
.blog-col {
 margin-top: 5%;
}
.button-cyan {
  background-color: #53afbe;
  border-radius: 30px;
  justify-content: center;
  padding: 0.3em 2em 0.3em 2em;
  color: white;
  margin-top: 5px;
}
.button-cyan:hover {
  background-color: whitesmoke;
  color: #53afbe;
  border: 1px solid #53afbe;
}
.card-title-blog {
  color: #4e4f4f;
}
.b-footer-item {
  font-size: 0.8em;
  margin: 5% 2% 2% !important;
}
/* SINGLE BLOG */
.two-bg {
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  position: relative;
  margin-bottom: 5%;
}
.blog-body {
  /* background: linear-gradient(to bottom,#C4C4C4 0%,#C4C4C4 50%,#F2F2F2 50%, #F2F2F2 100%); */
  background-color: #fff;
  width: 70%;
  position: relative;
  height: auto;
  margin: 10% 0;
}
.single-bg {
  position: absolute;
  bottom: 40%;
}
.b-circle {
  color: #6c6e6e;
  margin-left: 4%;
}
.b-layers {
  color: #6c6e6e;
  margin-right: 3%;
}
.b-calendar {
  color: #6c6e6e;
  margin-right: 4%;
}
                                      /* Job Posting CSS */
/* Job search */
#job-search input[type="text"] {
  padding: 0.5em 4em 0.5em 1em;
  width: 86%;
  font-size: 15px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  background: #53afbe;
  line-height: 10px;
}
#job-search input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.8;
  margin-left: 0;
}
#job-search button {
  width: 0%;
  padding: 10px;
  color: white;
  font-size: 13px;
  background-color: #53afbe00;
  border: none;
  cursor: pointer;
  position: relative;
  right: 18%;
}
#job-search button::before {
  content: "";
  height: 40%;
  width: 1px;
  position: absolute;
  right: 100%;
  top: 30%;
  background-color: #e1dfdf;
} 
                          /* Jog Single */
.son-muraciet {
  border: 1px solid #fff;
  border-radius: 30px;
  position: relative;
  top: 20%;
  max-width: 20em;
  padding: 5px 0;
  text-align: center;
}
                          /* Store css */
.bi-cart2 {
  font-size: 1.5em;
}
#store-search {
  width: 50%;
  text-align: right;
}
#store-search input[type="text"] {
  padding: 0.5em 4em 0.5em 1em;
  width: 80%;
  font-size: 15px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 30px;
  background: #53afbe;
  line-height: 10px;
}
#store-search input[type="text"]::placeholder {
  color: #fff;
  opacity: 0.8;
}
#store-search button {
  width: 0%;
  padding: 10px;
  color: white;
  font-size: 13px;
  background-color: #53afbe00;
  border: none;
  cursor: pointer;
  position: relative;
  right: 10%;
}
#store-search button::before {
  content: "";
  height: 40%;
  width: 1px;
  position: absolute;
  right: 100%;
  top: 30%;
  background-color: #e1dfdf;
}
                          /* Store Single css */
.prev_arrow {
  border: 1px #767777 solid;
  color: #767777;
  background-color: #ffffff;
  display: flex;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 50px;
  height: 50px;
  font-size: 5vh;
  font-weight: 100;
  z-index: 1;
}
.next_arrow{
    border: 1px #767777 solid;
    color: #767777;
    background-color: #ffffff;
    display: flex;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    right: 0%;
    width: 50px;
    height: 50px;
    font-size: 5vh;
    font-weight: 100;
    z-index: 1;
 }
.fa-angle-left{
  align-items: center;
  justify-content: center;
}
.slider-main {
  position: relative;
}






                        /* Universal classes */
.gilroy{
  font-family: "gilroy-extrabold", Arial, sans-serif;
}
.transform:hover {
  transform: scale(1.05);
}