body {
    font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR CSS */
.nav-item {
    margin-left: 6em;
    /* px<1400 4 em ele */
}
.nav-link {
    font-size: large;
}
.login {
    background-color: #FEB449;
    border-radius: 30px;
    justify-content: center; 
    padding: 0.3em 2em 0.3em 2em;
    color: white;
    margin-top: 5px;
}
.login:hover {
    background-color: whitesmoke;
    color: #FEB449;
    border: 1px solid #FEB449;
}
/* Section 2 CSS */
.section2 {
    display: flex;
    padding: 30px 0 100px;
}
#section2-p {
    font-family: 'gilroy-extrabold', Arial, sans-serif;
    color: #767777;
    font-size: 30px;
    max-width: 500px;
}
.hr-qisa {
    width: 60%;
    margin: auto;
    padding: 1px;
}
/* FORM CUSTOM CSS */
.section-form {
    display: flex;
    padding: 100px 0;
}
h3 {
    font-family: 'gilroy-extrabold', Arial, sans-serif;
    color: #4E4F4F;
    font-size: 50px;
}
input[type=text], input[type=email], select, textarea {
   border: 1px solid #53AFBE;
   border-radius: 30px;
   box-sizing: border-box;
   margin: 10px 10px 10px 0;
   padding: 5px 9px 5px 20px;
  }
textarea {
    width: 96%;
    height: 150px;
    border-radius: 18px;
}
input[type=submit] {
    background-color: #53AFBE;
    border-radius: 30px;
    justify-content: center; 
    padding: 0.3em 2em 0.3em 2em;
    color: white;
    margin-top: 5px;
} 
input[type=submit]:hover {
    background-color: whitesmoke;
    color: #53AFBE;
    border: 1px solid #53AFBE;
}  
#muraciet {
 padding-right: 5rem;
 color: #8E8E8E;
}

.form-container {
    margin: 7% 0 0 13%;
}
#contact {
    margin-top: 72px;
}

.kompluqaqas {
    margin: 70px 0 0;
}
/* Footer CSS */
.hr-uzun {
    width: 75%;
    margin: auto;
    padding: 1px;
}
#limitless {
    font-family: Arial, sans-serif;
    color: #4E4F4F;
    font-size: 20px;
    font-weight: 600;
}
.footer-container {
    
    margin: 2% 13% 0 13%;
}
.footer-list {
    list-style-type: none;
    color: #4E4F4F
}
.ficon {
    margin: 0 20px 0 0;
}
#social-container {
    display: flex;
    margin-top: 30px;
}
.fsicon {
    margin: 0 20px 20px 0;
    font-size: 22px;
}
.flink {
    text-decoration: none;
    color: inherit;
}
.flink:hover {
    color: inherit;
    border-bottom: #53AFBE 1px solid;
}
                            /* ABOUT CSS*/
 .about1 {
     margin: 5% 0 0;
     max-height: 18rem;
 }
 .section-about{
     padding: 60px 0;
     margin-bottom: 150px;
 }
 .about-container {
     margin: 2% 13% 0 13%;
     display: flex;
 }
                             /* BLOG CSS*/
.blog-elan {
    text-align: center;
    font-family: 'gilroy-extrabold', Arial, sans-serif;
    color: #4E4F4F;
    font-size: 2em;
}
.blog-elan-p {
    color: #767777;
    text-align: center;
    font-family: 'gilroy-extrabold', Arial, sans-serif;
    font-size: 1.1em;
}
/* Blog nav */
.bloglink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem; 
    margin-right: 1em;
}
.yan-xett {
    border-right: 1px #fff solid;
    height: 20px;
    margin-right: 1em;
}
#blog-search input[type=text] {
    padding: 10px;
    width: 86%;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 30px;
    background: #53AFBE;
  }
  
#blog-search button {
    width: 0%;
    padding: 10px;
    color: white;
    font-size: 17px;
    background-color: #53AFBE00;
    border: none;
    border-left: 1px solid white;
    cursor: pointer;
    position: relative;
    right: 22%;
  }
  
