{% extends "base.html" %}
{% block body %}
{%load static%}

<!-- about 1 -->
<section class="bg-primary section-about">
    <div class="about-container">
            <div class="about1 ms-auto">
                <h3>Vizyonumuz nədir?</h3>
                <p style="max-width: 600px; color: #fff;">İLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud</p>
            </div>

            <div class="ms-auto">
                <img src="{%static 'images/about1.svg'%}" width="80%" height="80%" class="salam d-none d-lg-block">
            </div>
    </div>
  </section>
 <!-- about 2 -->
 <section class="bg-primary section-about">
    <div class="about-container">
        <div class="ms-auto">
            <img src="{%static 'images/about2.svg'%}" width="80%" height="80%" class="salam d-none d-lg-block">
        </div>

        <div class="about1 ms-auto">
            <h3 style="text-align: right;">Biz kimik?</h3>
            <p style="max-width: 600px; text-align: right; color: #fff;" id="about2p">İLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud</p>
        </div>
    </div>
  </section>


{% endblock body %}