{% extends "base.html" %}
{% block body %}
{%load static%}

<!-- about 1 -->
<section class="bg-primary section-about">
    <div class="about-container">
            <div class="about1 ms-auto">
                <h3>Vizyonumuz nədir?</h3>
                <p style="max-width: 600px; color: #fff;"> “Limitisiz cəmiyyətdə görüşmək ümidi ilə”  viziyonunu əsas götürərək məqsədimiz əlilliyə sahib şəxslərin qarşılaşdığı maneələrə fokuslanaraq onların cəmiyyətə tam şəkildə inteqrasiyasına dəstək göstərmək və inklüziv cəmiyyətin qurulmasına töhfə verməkdən ibarətdir.</p>
            </div>

            <div class="ms-auto">
                <img src="{%static 'images/about1.svg'%}" width="80%" height="80%" class="salam d-none d-lg-block">
            </div>
    </div>
  </section>
 <!-- about 2 -->
 <section class="bg-primary section-about">
    <div class="about-container">
        <div class="ms-auto">
            <img src="{%static 'images/about2.svg'%}" width="80%" height="80%" class="salam d-none d-lg-block">
        </div>

        <div class="about1 ms-auto">
            <h3 style="text-align: right;">Biz kimik?</h3>
            <p style="max-width: 600px; text-align: right; color: #fff;" id="about2p">  Biz “ Limitləri aşmağın tam vaxtıdır! “ başlığı altında əliliyə sahib şəxslərə öz işlərini bir onlayn platformada inkişaf etmələri üçün dəstək olan layihəyik. Əsas məqsədimiz əliliyə sahib şəxslərə qarşı stereotiplərin qırılması, onların cəmiyyətdə rahatlıqla yer tutmasına dəstəkçi olmaqdır.</p>
        </div>
    </div>
  </section>


{% endblock body %}