{% extends "base.html" %}
{% block body %}
{%load static%}
<!-- Blog start -->
<section>
    <div>
        <h4 class="page-start gilroy">Limitless bloqları ilə tanış ol.</h4>
        <p class="page-start-p gilroy">Vaxtaşırı yayımlanan bloqları oxuyaraq fikirlərini bizimlə bölüşə bilərsən.</p>
    </div>
</section>
<!-- Blog nav -->
<section class="bg-primary">
    <nav class="nav container d-flex pb-2 pt-2 align-items-center">
        <!-- menu items -->
          <a class="nav-link text-light" aria-current="page" href="#">Bütün bloqlar</a>
          {% for category in category  %}
            
          
          <span class="line-left"></span>
          <a class="nav-link text-light bloglink" href="#">{{category}}</a>
          <!-- <span class="yan-xett"></span>
          <a class="nav-link text-light bloglink" href="#">Lorem</a>
          <span class="yan-xett"></span>
          <a class="nav-link text-light bloglink" href="#">Lorem</a>
          <span class="yan-xett"></span>
          <a class="nav-link text-light bloglink" href="#">Lorem</a> -->
          {% endfor %}
         <!-- search bar -->
        <form id="blog-search" action="action_page.php" class="ms-auto">
            <input type="text" placeholder="Axtar" name="search" style="overflow: hidden;" class="text-wrap">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
      </nav>
</section>
<!-- BLOGS -->
<section>
    <div class="container">
        <div class="row mb-5 mt-5 g-4">
             <!-- blog 1 -->
             {% for blog in blogs  %}
             <div class="col-md-6 col-lg-4">
                 <div class="card blog-col">
                     <img src="{{blog.image.url}}" style="width: 200px; height: 250px; object-fit: contain;" class="card-img-top mx-auto " alt="...">
                     <div class="card-body">
                       <h5 class="card-title card-title-blog gilroy">{{blog.name}}</h5>
                       <p class="card-text">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet metus vel urna dictum, quis viverra felis pretium.</p>
                       <a href="{%url 'blogs_detail' blog.id %}" class="btn btn-primary button-cyan">Daha çox</a>
                       <div class="d-flex mb-2"> 
                        <h6 class="b-circle b-footer-item gilroy"><i class="fa-regular fa-circle mx-1"></i>{{blog.user.username}}</h6>
                        <h6 class="b-layers b-footer-item gilroy"><i class="bi bi-layers mx-1"></i>{{blog.category}}</h6>
                        <h6 class="b-calendar b-footer-item gilroy"><i class="bi bi-calendar-week mx-1"></i>{{blog.created_date}}</h6>
                      </div>
                     </div>
                   </div>
             </div>
             {% endfor %}
              
                    
      </div>
    </div>
</section>





{% endblock body %}