{% extends "base.html" %}
{% block body %}
{%load static%}
<!-- Blog basliq -->
<section>
    <div>
        <h4 class="blog-elan">Limitless bloqları ilə tanış ol.</h4>
        <p class="blog-elan-p">Vaxtaşırı yayımlanan bloqları oxuyaraq fikirlərini bizimlə bölüşə bilərsən.</p>
    </div>
</section>
<!-- Blog nav -->
<section class="bg-primary">
    <nav class="nav container d-flex pb-2 pt-2 align-items-center">
        <!-- menu items -->
          <a class="nav-link text-light" aria-current="page" href="#">Bütün bloqlar</a>
          {% for category in category  %}
            
          
          <span class="yan-xett"></span>
          <a class="nav-link text-light bloglink" href="#">{{category}}</a>
          <!-- <span class="yan-xett"></span>
          <a class="nav-link text-light bloglink" href="#">Lorem</a>
          <span class="yan-xett"></span>
          <a class="nav-link text-light bloglink" href="#">Lorem</a>
          <span class="yan-xett"></span>
          <a class="nav-link text-light bloglink" href="#">Lorem</a> -->
          {% endfor %}
         <!-- search bar -->
        <form id="blog-search" action="action_page.php" class="ms-auto">
            <input type="text" placeholder="Axtar" name="search" style="overflow: hidden;">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
      </nav>
</section>
<!-- BLOGS -->
<section>
    <div class="container">
        <div class="row mb-5">
             <!-- blog 1 -->
             <div class="col-md-6 col-lg-4">
                 <div class="card blog-col">
                     <img src="{% static 'images/blog-covers/blog-1.svg'%}" class="card-img-top" alt="...">
                     <div class="card-body">
                       <h5 class="card-title card-title-blog">Blog başlığı lorem ipsum</h5>
                       <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet metus vel urna dictum, quis viverra felis pretium.</p>
                       <a href="{%url 'blogs_detail'%}" class="btn btn-primary button-cyan">Daha çox</a>
                       <div class="d-flex"> 
                        <h6 class="b-circle b-footer-item"><i class="fa-regular fa-circle mx-1"></i>Sahriyar Samadov</h6>
                        <h6 class="b-layers b-footer-item"><i class="bi bi-layers mx-1"></i>Kateqoriya</h6>
                        <h6 class="b-calendar b-footer-item"><i class="bi bi-calendar-week mx-1"></i>09.08.2021</h6>
                      </div>
                     </div>
                   </div>
             </div>
              <!-- bloq 2 -->
              <div class="col-md-6 col-lg-4">
                  <div class="card blog-col">
                    <img src="{% static 'images/blog-covers/blog-1.svg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title card-title-blog" card-title-blog>Blog başlığı lorem ipsum</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet metus vel urna dictum, quis viverra felis pretium.</p>
                      <a href="{%url 'blogs_detail'%}" class="btn btn-primary button-cyan">Daha çox</a>
                      <div class="d-flex"> 
                        <h6 class="b-circle b-footer-item"><i class="fa-regular fa-circle mx-1"></i>Sahriyar Samadov</h6>
                        <h6 class="b-layers b-footer-item"><i class="bi bi-layers mx-1"></i>Kateqoriya</h6>
                        <h6 class="b-calendar b-footer-item"><i class="bi bi-calendar-week mx-1"></i>09.08.2021</h6>
                      </div>
                    </div>
                  </div>
              </div>
                <!-- blog 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-col">
                      <img src="{% static 'images/blog-covers/blog-1.svg'%}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title card-title-blog">Blog başlığı lorem ipsum</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet metus vel urna dictum, quis viverra felis pretium.</p>
                        <a href="{%url 'blogs_detail'%}" class="btn btn-primary button-cyan">Daha çox</a>
                        <div class="d-flex"> 
                          <h6 class="b-circle b-footer-item"><i class="fa-regular fa-circle mx-1"></i>Sahriyar Samadov</h6>
                          <h6 class="b-layers b-footer-item"><i class="bi bi-layers mx-1"></i>Kateqoriya</h6>
                          <h6 class="b-calendar b-footer-item"><i class="bi bi-calendar-week mx-1"></i>09.08.2021</h6>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- blog 4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="card blog-col">
                       <img src="{% static 'images/blog-covers/blog-1.svg'%}" class="card-img-top" alt="...">
                       <div class="card-body">
                         <h5 class="card-title card-title-blog">Blog başlığı lorem ipsum</h5>
                         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet metus vel urna dictum, quis viverra felis pretium.</p>
                         <a href="{%url 'blogs_detail'%}" class="btn btn-primary button-cyan">Daha çox</a>
                         <div class="d-flex"> 
                          <h6 class="b-circle b-footer-item"><i class="fa-regular fa-circle mx-1"></i>Sahriyar Samadov</h6>
                          <h6 class="b-layers b-footer-item"><i class="bi bi-layers mx-1"></i>Kateqoriya</h6>
                          <h6 class="b-calendar b-footer-item"><i class="bi bi-calendar-week mx-1"></i>09.08.2021</h6>
                        </div>
                       </div>
                     </div>        
                </div>
      </div>
    </div>
</section>





{% endblock body %}