{% extends "base.html" %}
{% block body %}
{%load static%}
-<section class="section-form pb-5  d-flex">
    <!-- Contact form -->
<div class="form-container">
<h3 class="gilroy contact-h3">Bizimlə əlaqə yarat.</h3>
<form id="contact" method="POST">
{% csrf_token %}
<!-- Ad -->
{{form.first_name}}
<!-- Soyad -->
{{form.last_name}}
<br>
<!-- Email -->
{{form.email}}         
<br>
<!-- Muracit Metni -->
{{form.message}}


<br>
<!--Gonder-->
<input type="submit" value="Göndər" class="btn">
</form>
</div>
 <!-- Kompluqaqas -->

 <img src="{%static 'images/kompluqaqas.png'%}" width="50%" height="50%" alt="" class="ms-auto kompluqaqas d-none d-md-block">
 </section>
{% endblock body %}