{% extends "base.html" %}
{% block body %}
{%load static%}
<!-- Job posting start -->
<section>
    <div>
        <h4 class="page-start gilroy" >Limitless iş elanları.</h4>
        <p class="page-start-p gilroy" >Yerləşdirilən elanlar arasından bilik və bacarıqlarına uyğun işi tap.</p>
    </div>
</section>
<!-- Job posting nav -->
<section class="bg-primary">
    <nav class="nav container d-flex pb-2 pt-2 align-items-center">
        <!-- menu items -->
        <form id="job-search" class="mx-auto d-flex justify-content-center">
            <input type="text" placeholder="Axtar" name="search" style="overflow: hidden;" class="text-wrap">
            <button type="submit" class="mt-1"><i class="bi bi-search"></i></button>
        </form>
      </nav>
</section>
<!-- Job posts -->
<section style="padding: 6em 0;">
   <div class="container-lg">
     <div class="row g-md-4 ">
       {% for job in jobs  %}
         
       
       <!-- col 1 -->
       <div class="col-md-6 d-flex justify-content-center ">
         <a href="{%url 'job-single' job.id %}" class="nav-link ">
           <div class="card shadow transform job-div h-100">
               <div class="row g-0">
                 <!-- <div class="col-md-3 justify-content-center align-items-center d-flex">
                   <img src="{%static 'images/job-covers/apple.png'%}" width="50%" height="50%" class="img-fluid rounded-circle" alt="job-logo">
                 </div> -->
                 <div class="col-md-9">
                   <div class="card-body mt-3 ms-4" style="padding: 0;">
                     <h5 class="card-title gilroy text-dark fs-5">{{job.name}}</h5>
                   </div>
                   <div class=" card-body d-flex mb-3 ms-3 justify-content-between" style="padding: 0;">
                    <h6 class="card-text ms-2"><small class="text-muted gilroy"> {{job.company}}</small></h6>
                    <h6 class="card-text me-3 text-end"><small class="text-muted gilroy"><i class="bi bi-geo-alt-fill me-2"></i>{{job.location}}</small></h6>
                   </div>
                 </div>
                 <div class="col-md-3 d-flex align-items-center justify-content-center">
                  {% if job.salaryByDefault == True %}
                  <h4 class="fs-6 gilroy text-primary">Ə/H razılaşma yolu ilə</h3>
                  {%else%}
                  <h4 class="fs-6 gilroy text-primary text-center">{{job.salary}} AZN</h3>
                    
                  {% endif %}
                   
                 </div>
               </div>
           </div>
         </a>
       </div>
       {% endfor %}
       
     </div>

   </div>
</section>




{% endblock body %}