{% extends "base.html" %}
{% block body %}
{%load static%}
<section class="bg-primary p-5">
   
     <div class="row">
           <!-- col 1 -->
           <div class="col-md-3 d-flex justify-content-lg-center">
            <img src="{%static 'images/job-covers/apple.png'%}" width="50%" height="50%" class="img-fluid rounded-circle" alt="job-logo" style="background-color: grey;">
           </div>
           <!-- col 2 -->
           <div class="col-md-3">
               <h4 class="text-light gilroy fs-5 mb-4 mt-2">Qrafik dizayner vakansiyası</h4>
               <h4 class="gilroy fs-5 mb-4" style="color: #BFDDDD;"> E corp.</h4>
               <h4 class="text-light gilroy fs-5"><span style="color: #BFDDDD;">Şəhər:</span> Bakı</h4>
           </div>
           <!-- col 3 -->
           <div class="col-md-3">
               <h4 class="fs-5 gilroy text-light mt-2 mb-4">1000 AZN</h4 class="fs-4 gilroy">
               <h4 class="text-light gilroy fs-5 mb-4"><span style="color: #BFDDDD;">E-mail:</span>busuness@ecorp.com</h4>
               <h4 class="text-light gilroy fs-5"><span style="color: #BFDDDD;">İş rejimi:</span> Tam ştat</h4>
           </div>
           <!-- col 4 -->
           <div class="col-md-3 d-flex justify-content-end pe-5">
               <h4 class="fs-5 gilroy" style="color: #337E8A; position: relative; right: 0%;"><i class="bi bi-calendar-week mx-1"></i>17.05.2022</h4>
           </div>
       </div>
       <div class="ms-auto son-muraciet gilroy text-light" ><span style="color: #BFDDDD;">Son müraciət tarixi:</span> 25.05.2022</div>
</section>
<section>
    <div style="margin: 7em 10em;">
        <h4 class="gilroy text-dark">İş haqqında məlumat</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque leo nunc, at elementum lectus tempor eu. Sed a lorem erat. Morbi et fermentum sem, non semper ipsum. Mauris maximus vestibulum lacinia. Aliquam ac faucibus metus. Maecenas volutpat rutrum aliquam. Nulla molestie sit amet ante id dignissim. Sed cursus ipsum nec ullamcorper pharetra. Proin et mi mi. Ut condimentumnisl quis maximus finibus. Aliquam a quam in dui consectetur molestie sed rutrum neque. Nunc nisi augue, eleifend at odio quis, tristique congue urna. Nam sapien dio, accumsan ut dignissim ac, tincidunt sed nunc. Ut vel tortor ac nunc finibus congue vitae lacinia lacus. Morbi ut tellus sit amet nisl efficitur vulputate non vitae nisl.</p>
    </div>
    <div style="margin: 6em 10em;">
        <h4 class="gilroy text-dark">Namizəd üçün tələblər</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque leo nunc, at elementum lectus tempor eu. Sed a lorem erat. Morbi et fermentum sem, non semper ipsum. Mauris maximus vestibulum lacinia. Aliquam ac faucibus metus. Maecenas volutpat rutrum aliquam. Nulla molestie sit amet ante id dignissim. Sed cursus ipsum nec ullamcorper pharetra. Proin et mi mi. Ut condimentumnisl quis maximus finibus. Aliquam a quam in dui consectetur molestie sed rutrum neque. Nunc nisi augue, eleifend at odio quis, tristique congue urna. Nam sapien dio, accumsan ut dignissim ac, tincidunt sed nunc. Ut vel tortor ac nunc finibus congue vitae lacinia lacus. Morbi ut tellus sit amet nisl efficitur vulputate non vitae nisl.</p>
    </div>
</section>

{% endblock body %}