{% extends "base.html" %}
{% block body %}
{%load static%}

  

<!-- Section 2 -->
<section class="section2">
  <!-- Yazi hissesi -->
  <div class="form-container">
   <h3>Limitlərini</h3>
   <h3>aradan qaldır!</h4>
    <p id="section2-p">İnklüziv cəmiyyətin bir parçası olmaq istəyirsənsə,</p>

    <button class="btn button-orange">
      Daxil ol
    </button>
  </div>
  <!-- Sekil-community -->
  <img src="{%static 'images/community.svg'%}" width="50%" height="50%" alt="community" class="ms-auto community">
</section>
<hr class="hr-qisa">
<!-- Forum Start -->


    
<section class="section-form">
              <!-- Contact form -->
    <div class="form-container">
        <h3>Bizimlə əlaqə yarat.</h3>
        <form id="contact" method="POST">
          {% csrf_token %}
          <!-- Ad -->
          <!-- <input type="text" id="fname" name="firstname" placeholder="Ad"> -->
          {{form.first_name}}
         <!-- Soyad -->
          <!-- <input type="text" id="lname" name="lastname" placeholder="Soyad"> -->
          {{form.last_name}}
          <br>
         <!-- Email -->
          <!-- <input type="email" id="email" name="email" placeholder="Email"> -->
          {{form.email}}         
         <br>
         <!-- Muracit Metni -->
          <!-- <textarea id="subject" name="subject" placeholder="Müraciətin mətni..."  ></textarea> -->
          {{form.message}}

          
          <br>
         <!--Gonder-->
          <input type="submit" value="Göndər" class="btn">
        </form>
      </div>

                <!-- Kompluqaqas -->

      <img src="{%static 'images/kompluqaqas.png'%}" width="55.55%" height="55%" alt="" class="kompluqaqas">
</section>
<!-- Footer -->






{% endblock body %}



