{% extends "base.html" %}
{% block body %}
{%load static%}
<div class="two-bg">
   <div class="blog-body p-5">
     <h4 class="page-start mt-5 mb-5 gilroy">Limitless Məxfilik siyasəti </h4>
     <hr class="hr-qisa mt-2 mb-3">
     <p>Hörmətli istifadəçi,</p>
     <p>limitless.az olaraq məlumatlarınızın məxfiliyinin qorunması bizim üçün vacib amillərdən biridir. “Fərdi məlumatlar haqqında” Azərbaycan Respublikası Qanununun 5.2-ci maddəsinin tələblərinə uyğun olaraq, məlumatlarınız üçüncü şəxs və ya quruma ötürülmür. Fərdi məlumatlarınızdan yalnız alış-verişlərinizin həyata keçirilməsi, gələcəkdə olacaq endirim kampaniyaları ilə bağlı vermək məqsədi ilə və hər hansısa problem yarandığı təqdirdə Sizinlə əlaqə saxlanılması üçün istifadə edilməkdədir.</p>
     <h6 class="fw-bold">Fərdi məlumatlar</h6>
     <p>Saytdan isfiadə edərkən Sizdən toplanılan fərdi məlumatlara daxildir:</p>
     <p class="m-0">- Ad, Soyad;</p>
     <p class="m-0">- Email ünvanı;</p>
     <p class="m-0">- Əlaqə nömrəsi;</p>
     <p class="m-0">- Poçt ünvanı.</p>
     <h6 class="fw-bold my-3">Fərdi olmayan məlumatlar</h6>
     <p>Şəxsi məlumatlardan əlavə olaraq, bizim veb-xidmətlər cihazınızın internetə qoşulması, eləcə də daxil olarkən IP ünvan və cookie faylları haqda avtomatik olaraq məhdud məlumatları toplayır. Toplanan məlumatlar daxil olanların şəxsi məlumatları deyil, məhz kompüterin (qurğu) ID ünvanını bildirərək Sizin hansı səhifələrə daxil olmanız haqqında məlumat verir.
        “Məxfilik siyasəti” yalnız limitless.az veb-saytı tərəfindən toplanan məlumatlara aiddir. Biz Sizin saytımızdan “satıcı” və ya “alıcı” olaraq istifadə etmənizdən asılı olmayaraq, məlumatlarınızın qorunmasına xüsusi diqqət edir və buna tam zəmanət veririk. Siz isə təqdim etdiyimiz xidmətlərdən istifadə etməklə “Məxfilik siyasəti” ilə razılaşaraq məlumatlarınızın toplanmasına və qeyd edilən məqsədlərlə istifadə edilməsinə razılıq vermiş hesab edilirsiniz.
        </p>
   </div>
</div>

{% endblock body %}