{% extends "base.html" %}
{% block body %}
{%load static%}
<!--  -->
<div id="grey-bg1" class="p-5"></div>
<div id="grey-bg2" class="p-5"></div>
<div id="blog-body">
    <h4 class="blog-elan mt-5 mb-4">Blog başlığı lorem ipsum</h4>
    <hr class="hr-qisa">
    <p class="m-5 position-relative">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque sequi iste ut exercitationem placeat aliquid omnis, sapiente sed unde quod est. Praesentium fugit quae dolores earum maiores placeat provident asperiores repudiandae ex! Magnam molestiae suscipit tenetur accusantium sequi perspiciatis neque libero voluptate possimus. Ab architecto praesentium vitae cumque. Deserunt doloremque impedit earum repudiandae consequuntur inventore exercitationem nostrum velit officiis, minus numquam dolor voluptate facere iste deleniti aspernatur natus! Assumenda, laboriosam architecto. Assumenda in incidunt officiis asperiores quisquam adipisci laudantium architecto voluptatem repellendus molestiae vero hic tempore minus, nemo, aliquid error est expedita facere rem blanditiis ad? Assumenda minus non magni.</p>
</div>


{% endblock body %}