{% extends "base.html" %}
{% block body %}
{%load static%}
<!-- nav bar -->
<section class="bg-primary">
    <nav class="nav container d-flex pb-2 pt-2 align-items-center">
        <!-- menu items -->
        {% for category in categories  %}
          
        
          <a class="nav-link text-light" aria-current="page" href="{%url 'store_by_category' category.slug %}">{{category}}</a>
          <span class="line-left"></span>
          <!-- <a class="nav-link text-light" aria-current="page" href="#">Əl işləri</a> -->
        {% endfor %}

        <!-- search bar -->
        <form id="store-search" class="">
            <input type="text" placeholder="Axtar"  name="store" style="overflow: hidden;" class="text-wrap">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
        <!-- cart -->
        <!-- <a class="nav-link text-light d-flex ms-auto" aria-current="page" href="#" >
            <img src="{%static 'images/cart.svg'%}" width="100%" class="me-3">
            Səbət
        </a> -->
      </nav>
</section>
<!-- Store items -->
<section style="padding: 6em 0;">
  <div class="container-lg align-items-center">
    <div class="row g-4 ">
      {% for product in products  %}
      <div class="col-md-6 col-lg-4 d-flex justify-content-center ">
        <div class="card shadow" style="width: 357px; height: 379px;">
          <img src="{{product.image1.url}}" style="width: 100%; height: 60%; object-fit: contain;" class="card-img-top mt-2" alt="...">
          <div class="card-body mt-4">
            <h5 class="card-title card-title-blog gilroy">{{product.name}}</h5>
            <a href="{%url 'store-single' id=product.id %}" class="btn btn-primary button-cyan">Daha çox</a>
          </div>
        </div>
      </div>
        
      {% endfor %}
      
      
    
    </div>
  </div>
</section>


{% endblock body %}