{% extends "base.html" %}
{% block body %}

<div class="two-bg">
   
    <div class="blog-body p-5">
        <h4 class="page-start mt-5 mb-5 gilroy">Limitless qaydalar və şərtlər</h4>
        <hr class="hr-qisa mt-2 mb-3">
        <p class="position-relative">Siz Limitless.az saytından istifadə edərək aşağıdakı <span class="fw-bold">şərtlər və qaydalarla</span>  razılaşmış olursunuz.
            Bu şərtlər və qaydalar Limitless.az saytından istifadəyə və onun əsasında alqı-satqı
            müqavilələrinə şamil edilir. Xahiş edirik, Limitless xidmətlərindən istifadə etməzdən əvvəl
            aşağıdakı <span class="fw-bold">şərtlər və qaydalarlı</span> diqqətlə oxuyun. Əgər <span class="fw-bold">şərtlər və qaydalar</span> ilə razı deyilsinizsə,
            Limitless xidmətindən istifadə etməməyinizi xahiş edirik.</p>
        <h4 class="fw-bold text-center">Əsas anlayışlar:</h4>
        <p> <span class="fw-bold">Razılaşma sənədi</span>  - onlayn alış ilə bağlı aşağıda əks olunan bütün şərtləri özündə əks etdirən
            sənəd; </p>
        <p><span class="fw-bold">Alıcı</span> - Limitless.az-ın verdiyi texniki imkanlar vasitəsi ilə və ödəniş edərək portalda qeyd
            olunmuş mal və xidmətləri sifariş edən və ya alan , həmçinin bu “Razılaşma sənədi”nin
            şərtləri ilə razılaşan fiziki və ya hüquqi şəxs;</p>
        <p> <span class="fw-bold">Satıcı</span>  - Portalda öz mallarını və ya xidmətlərini onlayn qaydada satan və satış və çatdırılma
            şərtlərini özü müəyyən edən əlliyi olan fiziki və ya hüquqi şəxs;</p>
        <p> <span class="fw-bold">Limitless.az</span>  - Pomal və xidmətlərinin satışı məqsədilə satıcı üçün razılaşdırılmış elektron
            məkanı təqdim edən portal.</p>
        <p> <span class="fw-bold">Platforma</span>  - Portalda öz mallarını və ya xidmətlərini onlayn qaydada satan və satış və çatdırılma
            şərtlərini özü müəyyən edən əlliyi olan fiziki və ya hüquqi şəxsmal və xidmətlərin onlayn alış-veriş məkanı olan, “Limitless.az”a məxsus
            “www.limitless.az” internet səhifəsi;</p>
        <p> <span class="fw-bold">Mal(lar) və xidmət(lər)</span>  - platformada yerləşdirilmiş hər hansı mallar, xidmətlər, təchizatlar,
            materiallar, əşyalar və digər material və əmtəələr (o cümlədən onların quraşdırılması və ya
            istənilən hissəsi);</p>
        <p> <span class="fw-bold">Sifariş</span>  - Portalda öz mallarını və ya xidmətlərini onlayn qaydada satan və satış və çatdırılma
            şərtlərini özü müəyyən edən əlliyi olan fiziki və ya hüquqi şəxs;Alıcının müəyyən etdiyi ünvana çatdırılması məqsədilə portaldan mal və ya xidmət
            alınması məqsədilə portalda mövcud olan müvafiq hissənin doldurularaq satıcıya elektron
            formada göndərilməsi.</p>
        <h4 class="fw-bold text-center">Razılaşma Şərtləri</h4>
        <p> 1. Razılaşmanın predmetini <span class="fw-bold"> alıcı</span> tərəfindən şəxsi və digər məqsədər üçün platformada əks
            olunan malların və ya xidmətlərin alınması və digər formada istifadəsində imkan yaradılması
            təşkil edir. Bu Razılaşma Şərtləri <span class="fw-bold">platformada</span> cari vaxtda satışda olan bütün mal və
            xidmətlərə şamil olunur.</p>
        <p>2.<span class="fw-bold">Limitless</span> öz mallarını və xidmətlərinin şəxsən <span class="fw-bold">platforma</span>  vasitəsilə satılmasını təmin edir.</p>
        <p>3.<span class="fw-bold">Platformadan</span> mal sifariş edən <span class="fw-bold">alıcı</span> bu <span class="fw-bold">razılaşma</span>nın şərtləri ilə tam razılaşdığını bəyan
            edir.</p>
        <p>4. Portalda satılan mallar və xidmətlər, həmçinin satış şərtləri Azərbaycan Respublikasının
            qüvvədə olan Mülki <a href="https://e-qanun.az/framework/46944" target="_blank">Məcəlləsinin 408-ci maddəsi</a>nə əsasən ümumi oferta hesab olunur.</p>
        <p>5. Alış həyata keçirilənədək alış şərtlərini Limitless platformada dəyişdirə bilər.</p>
        <p>6. Alış o vaxt baş tutmuş sayılır ki, <span class="fw-bold"> alıcı</span> malın və xidmətin dəyərini qaimə, çek və ya
            alqı-satqını təsdiq edən digər sənəd qarşılığında hər hansı formada (onlayn və ya nağd)
            ödəmiş olsun.</p>
        <p>7. <span class="fw-bold">Platforma</span>da olan sifariş məlumatlarını doldurarkən <span class="fw-bold">alıcı</span> özünə aid əlaqə vasitələri barədə
            məlumatların Limitless komandası və ya <span class="fw-bold">satıcı</span>nın istifadəsinə etiraz etmir. Bura gələcəkdə
            <span class="fw-bold">alıcı</span>ya müxtəlif endirim kampaniyaları, digər əlaqəli məlumatların göndərilməsi aiddir.</p>
        <p>8. <span class="fw-bold">Alıcı</span> sifariş etməklə <span class="fw-bold">Limitless</span>-in öz öhdəliklərinin icrasını 3-cü şəxslərə tapşırmasına
            etiraz etmir və <span class="fw-bold">Limitless</span> sifariş ilə bağlı 3-cü şəxslərin bu <span class="fw-bold">razılaşma</span>dan kənara çıxan
            hərəkətlərinə görə məsuliyyət daşıyır.</p>
        <p>9. Sifariş <span class="fw-bold">alıcı</span> ilə <span class="fw-bold">Limitless</span> arasında bağlanılmış müqavilə hesab olunur və bu <span class="fw-bold">Razılaşma</span>dan
            və qanunsuz hərəkətlərdən irəli gələn zərərlərə görə hər iki tərəf məsuliyyət daşıyır.</p>
        <p>10. “www.limitless.az” səhifəsində texniki-profilaktik işlərin aparıldığı günlərdən, aşağıda
            qeyd olunan və fors-major hallardan başqa, <span class="fw-bold">alıcı</span> günün, ayın, ilin instənilən vaxtı
            <span class="fw-bold">platforma</span>nın xidmətlərindən istifadə edə bilər. <span class="fw-bold">Platforma</span>nın iradəsindən kənar səbəblərdən
            dolayı <span class="fw-bold">platforma</span>nın fəaliyyətinin istənilən müddətdə dayanması, habelə <span class="fw-bold">platforma</span>nın bu
            <span class="fw-bold">razılaşma</span>dan irəli gələn öhdəliklərinin icrasının qeyri-mümkünlüyü səbəbindən <span class="fw-bold">alıcı</span>ya zərər
            dəyərsə, bu halda <span class="fw-bold">platforma</span> hər hansı məsuliyyət daşımır.</p>
        <p>11. <span class="fw-bold">Platforma</span> satış üçün təqdim olunmuş mal və xidmətlər haqqında məlumatların
            düzgünlüyünə görə məsuliyyət daşıyır.</p>
        <p>12. <span class="fw-bold">Platforma</span>da satış üçün nəzərdə tutulmuş malların şəkilləri illüstrativ təyinatlı olmaqla
            alınmış malla 100% eyni olmaya bilər. Məlumatlarda əhəmiyyətli çatışmazlıq olduğu təqdirdə
            <span class="fw-bold">alıcı</span> <span class="fw-bold">platforma</span>ya yazılı müraciət ünvanlaya bilər.</p>
        <p>13. <span class="fw-bold">Platforma</span>da yerləşdiriləcək məhsullar, əsasən, əl işi olduğu üçün məhsul haqda
            məlumatlar hissəsində təxmini hazırlanma müddəti qeyd edilir, <span class="fw-bold">platforma</span>da görsənməsinə
            baxmayaraq əgər sifariş verilmiş mal anbarda yoxdursa, <span class="fw-bold">platforma</span> bu barədə ən qısa vaxt
            ərzində <span class="fw-bold">alıcı</span>ya xəbər verməklə sifarişin hazır olma müddətini bildirir, <span class="fw-bold">alıcı</span> razı olmazsa,
            sifariş ləğv edilir, ödəniş artıq edilibsə, qaytarılır.. Sifarişin ləğvi nəticəsində <span class="fw-bold">alıcı</span>ya hər hansı
            real zərər dəyərsə, buna görə <span class="fw-bold">platforma</span> məsuliyyət daşımır.</p>
        <p>14. <span class="fw-bold">Alıcı</span> tərəfindən yanlış məlumat verilməsi nəticəsində sifarişin icra edilməməsinə görə
            <span class="fw-bold">platforma</span> məsuliyyət daşımır.</p>
        <p>15. Sifariş verildikdən sonra <span class="fw-bold">alıcı</span>nın ünvanının məsafəsindən asılı olaraq <span class="fw-bold">Limitless komandası</span> sifarişin çatıdırılma tarixi, vaxtı və digər şərtləri barədə <span class="fw-bold">alıcı</span>ya məlumat verir.</p>
        <p>16. Çatdırılma və ya digər problemlər ilə bağlı <span class="fw-bold">alıcı platforma</span>nın administrasiyasına öz
            şikaytlərini elektron qaydada təqdim edə bilər.</p>
        <p>17. Malların çatdırılması yalnız Azərbaycan Respublikasının dövlət sərhədləri ilə
            məhdudlaşır. Digər hallarda <span class="fw-bold">alıcı platforma</span>ya elektron məktub şəklində müraciət
            göndərməlidir.</p>
        <p>18. Xidmətlərdən istifadə isə internetin olduğu dünyanın hər yerindən mümkündür.</p>
        <p>19. Digər istək qeyd edilməyibsə, sifariş şəxsən alıcıya və/və ya qeyd etdiyi ünvanda olan
            istənilən 3-cü şəxsə təhvil verilir.</p>
        <p>20. Göndərilmiş malı qəbul edən <span class="fw-bold">alıcı</span> (və ya 3-cu şəxs) malı kuryerdən qəbul edərkən
            yerində mala baxış keçirməlidir. Baxış keçirdikdən sonra <span class="fw-bold">alıcı</span> (və ya 3-cü şəxs) malın
            çatıdılmasını təsdiq edən sənədi imzalayır və bununla mala dair hər hansı iddia olmadığını
            bəyan edir.</p>
        <p>21. Müvafiq təhvil-təslim aktı qarşılıqlı imzalandıqdan sonra mala dəymiş zərərə görə <span class="fw-bold">alıcı</span>
            məsuliyyət daşıyır.</p>
        <p>23. <span class="fw-bold">Platforma</span> satılan malların qiyməti Azərbaycan manatı ilə göstərilir.</p>
        <p>24. Əgər <span class="fw-bold">platforma</span> malın qiyməti səhv göstərilibsə, sifarişin edilməsindən asılı olmayaraq
            mal geri götürülüb ödənişi <span class="fw-bold">alıcı</span>ya qaytarılır.</p>
        <p>25. Malın qiyməti <span class="fw-bold">platforma</span> tərəfindən birtərəfli qaydada dəyişdirilə bilər.</p>
        <p>26. Bank kartı vasitəsilə onlayn ödəniş edilərkən bank xidməti göstərən şirkət əməliyyatın
            dələduzluq və digər qeyri-qanuni məqsədlərlə həyata keçirildiyini müəyyən edərsə, ödənişi
            ləğv edə bilər. Bu cür hallardan yaranan mübahisələrə görə platforma məsuliyyət daşımır.</p>
        <p>27. Platforma birtərəfli qaydada bəzi mallara endirim tətbiq edə bilər. Platformanın oxşar
            məhsullara da eyni endirimi etmək öhdəliyi yoxdur.</p>
        <p>28. <span class="fw-bold">Platforma</span> aşağıdakı mülahizyə əsasən <span class="fw-bold">alıcı</span>nın sifarişini ləğv edə bilər:</p>
        <p>- Əgər <span class="fw-bold">alıcı</span> 4 dəfə ard-arda hər hansı malı almaqdan əsassız surətdə imtina edirsə;</p>
        <p>- Əgər <span class="fw-bold">alıcı</span> tərəfindən qeyri-qanuni əməliyyatların həyata keçirilməsinə şübhə varsa, habelə
            qeyri-etik davranış nümayiş elətdirirsə,</p>
        <p>- Əgər <span class="fw-bold">alıcı</span> tərəfindən satıcının əqli mülkiyyətindən sui-istifadə halları aşkarlanarsa.</p>
        <p>Qeyd olunan hərəkətlər istehlakçılara münasibətdə ayrı-seçkilik kimi deyil, <span class="fw-bold">platforma</span>nın
            maddi itkisinin qarşısının alınması kimi başa düşülməlidir.</p>
        <p>29. Malların geri qaytarılması şərtləri “<a href="https://e-qanun.az/framework/9479" target="_blank">İstehlakçıların hüquqlarının müdafiəsi haqqında</a>”
            qanunla tənzimlənir. Əgər <span class="fw-bold">platforma</span>nın təqsiri səbəbindən olmayan hallarda mal
            qaytarılırsa, qaytarılma ilə bağlı xərclər <span class="fw-bold">alıcı</span>dan tutulur.</p>
            <!--  -->
        <p>30. Malın təyinatına uyğun olmayan formada istifadə nəticəsində <span class="fw-bold">alıcı</span>ya vurulmuş zərərə
            görə <span class="fw-bold">platforma</span> məsuliyyət daşımır.</p>
        <p>31. Malın tamlığı, keyfiyyəti, çatdırılması və s. göstəricilərə görə <span class="fw-bold">platforma</span> <span class="fw-bold">alıcı</span> qarşısında
            məsuliyyət daşıyır.</p>
        <p>32. <span class="fw-bold">Platforma</span>dan istifadə nəticəsində fərdi məlumatlardan istifadə üzrə münasibətlər “<a href="https://ict.az/az/content/92/" target="_blank">Fərdi
            məlumatlar haqqında</a>” Azərbaycan Respublikasının qanunu ilə tənzimlənir.</p>
        <p>33. Mallara və xidmətlərə dair zəmanət müddəti <span class="fw-bold">platforma</span> tərəfindən müəyyən olunur.</p>
        <p>34. Bu Razılaşmadan irəli gələn və ya onunla, o cümlədən onun təfsiri, icrası, xitamı və
            etibarsızlığı ilə bağlı yaranan bütün mübahisələr və ya iddialar, ilk növbədə tərəflər arasında
            vicdanla və dostcasına danışıqlar yolu ilə həll edilir. Əgər bu cür mübahisə 5 iş günü ərzində
            tərəflər arasında həll edilməzsə, bu halda həmin mübahisə Azərbaycan Respublikasının
            müvafiq məhkəmələri tərəfindən həll edilir.</p>
        <p>35.<span class="fw-bold">Portal</span>a qarşı olan iddialarla bağlı isə <a href="mailto:limitlessenactus@gmail.com">limitlessenactus@gmail.com</a> ünvanına yazıla bilər.
            Müraciətlərə ən qısa vaxt ərzində baxılır.</p>
        
    </div>
</div>

{% endblock body %}